<!DOCTYPE html>
 <html>
    <head>
    <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/styles_success.css">
    </head>

   

<body>
  <div class="mb-3 wrapper">
    <div class="bd-example" role="tabpanel">
        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <% horarios.forEach(horario => { %>
                <% if(horario.name=="Horario1"){ %>
                  <a class="list-group-item list-group-item-action active" id="<%= horario.id %>-list" data-bs-toggle="tab" href="#<%= horario.id %>" role="tab" aria-controls="<%= horario.id %>" aria-selected="true"> <%= horario.name %></a>
                <% }else{ %>
                  <a class="list-group-item list-group-item-action" id="<%= horario.id %>-list" data-bs-toggle="tab" href="#<%= horario.id %>" role="tab" aria-controls="<%= horario.id %>" aria-selected="false"> <%= horario.name %></a>
                <% } %>
              <% }) %>
            </div>
          </div>
          <div class="mb-3 wrapper2">
            <div class="col-8">
              <div class="tab-content" id="nav-tabContent">
                <% horarios.forEach(horario => { %>
                <div class="tab-pane fade" id="<%= horario.id %>" role="tabpanel" aria-labelledby="<%= horario.id %>-list">
                  <div class="header-wrapper2">
                    <h2><label class="form-label"><%= horario.best_metric %></label></h2>
                  </div>
                  <div class="body-wrapper2">
                    <h3><label class="form-label">Detalhes:</label></h3>
                  <% horario.metrics.forEach(metrica => { %>
                    <p><%=metrica.name%>: <%=Math.round(metrica.results) + "%" %></p>
                  <% }) %>
                  </div>
                  
                  <form action="/success" method="POST" id='form-csv-<%=horario.id%>'>
                    <input type ="text" name= "old_id" id = "old_id-<%=horario.id%>" hidden value="<%= old_id %>">
                    <input type ="text" name= "name" id = "name-<%=horario.id%>" hidden value="<%= horario.name %>">
                    <div class="upload">
                      <button type="submit" class="btn btn-primary upload-btn" id="download-csv-<%=horario.id%>" value="<%= horario.name %>">Download</button>
                    </div>
                  </form>
                  <script>
                    document.getElementById("form-csv-<%=horario.id%>").addEventListener("submit", function(){});
                  </script>
                
              </div>
              <% }) %>
              
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>

    
</body>


 <%- include('./partials/footer.ejs') %>
    
 
    <script src="/socket.io/socket.io.js"></script>
	  <script src="/siofu/client.js"></script>
	  <script src="js/success.js"></script>
    <script src="js/bootstrap.js"></script>
 </html>