<!DOCTYPE html>
 <html>
   <head>
    <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/styles_success.css">
    </head>

   

<body>
    <div class="bd-example" role="tabpanel">
        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <% horarios.forEach(horario => { %>
                <a class="list-group-item list-group-item-action" id="<%= horario.metricas.detalhe %>-list" data-bs-toggle="tab" href="#<%= horario.metricas.detalhe %>" role="tab" aria-controls="<%= horario.metricas.detalhe %>" aria-selected="false"> <%= horario.nome %></a>
              <% }) %>
            </div>
          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <% horarios.forEach(horario => { %>
              <div class="tab-pane fade" id="<%= horario.metricas.detalhe %>" role="tabpanel" aria-labelledby="<%= horario.metricas.detalhe %>-list">
                <p><%= horario.metricas.detalhe %></p>
                <p>Detalhes:</p>
                <% horario.metricas.lista.forEach(metrica => { %>
                  <p><%=metrica.nome%>: <%=metrica.valor%></p>
                <% }) %>
                
                  <form action="/success" method="POST" id='form-csv-<%=horario.metricas.detalhe%>'>
                    <input type ="text" name= "old_id" id = "old_id-<%=horario.metricas.detalhe%>" hidden value="<%= old_id %>">
                    <input type ="text" name= "name" id = "name-<%=horario.metricas.detalhe%>" hidden value="<%= horario.nome %>">
                  <div class="upload">
                    <button type="submit" class="btn btn-primary upload-btn" id="download-csv-<%=horario.metricas.detalhe%>" value="<%= horario.nome %>">Download</button>
                  </div>
                  </form>
                  <script>
                    document.getElementById("form-csv-<%=horario.metricas.detalhe%>").addEventListener("submit", function(){});
                  </script>
                
              </div>
              <% }) %>
              
            </div>
          </div>
        </div>
      </div>    
    

    
</body>


 <%- include('./partials/footer.ejs') %>
    
 
    <script src="/socket.io/socket.io.js"></script>
	  <script src="/siofu/client.js"></script>
	  <script src="js/success.js"></script>
    <script src="js/bootstrap.js"></script>
 </html>